/.idea/*
/Samples/Outros/*
/Samples/CALR/Nucleotides
/Samples/CALR/Proteins
/Samples/CALR/*.txt
/Samples/CALR/*.fasta
/Alignments/*
alinhamento.py
test.py
a.fasta
b.fasta
Exceptions.py
cp.py
codonTable.py
fileMap.py
menu.py
slice.py
/__pychache__/*